
*{box-sizing:border-box}

body{
margin:0;
overflow:hidden;
font-family:Arial, sans-serif;
background:#020817;
color:white;
}

.screen{
width:100vw;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
position:relative;
}

.bg{
position:absolute;
inset:0;
width:100%;
height:100%;
object-fit:cover;
z-index:-1;
}

h1{
font-size:92px;
color:#f4c64b;
margin:0;
text-shadow:0 0 30px rgba(255,215,0,0.3);
}

.center-card img{
width:180px;
margin:40px 0;
}

.start-button{
position:relative;
width:700px;
height:180px;
border:none;
background:none;
cursor:pointer;
padding:0;
}

.start-button img{
width:100%;
height:100%;
object-fit:contain;
display:block;
}

.start-button span{
position:absolute;
left:50%;
top:50%;
transform:translate(-50%,-50%);
font-size:48px;
font-weight:900;
color:#1a1200;
}

.hidden{
display:none;
}

#gameScreen{
width:100vw;
height:100vh;
background:#020817;
padding-top:30px;
}

.hud{
display:flex;
justify-content:center;
gap:30px;
margin-bottom:40px;
}

.hud-box{
border:2px solid #f4c64b;
padding:18px 40px;
border-radius:20px;
color:#f4c64b;
font-weight:bold;
text-align:center;
background:rgba(0,0,0,0.4);
}

.hud-box span{
font-size:42px;
}

.grid{
display:grid;
grid-template-columns:repeat(4,180px);
gap:22px;
justify-content:center;
}

.card{
width:180px;
height:260px;
position:relative;
cursor:pointer;
}

.card-inner{
position:absolute;
width:100%;
height:100%;
transition:transform .5s;
transform-style:preserve-3d;
}

.card.flip .card-inner{
transform:rotateY(180deg);
}

.face{
position:absolute;
width:100%;
height:100%;
backface-visibility:hidden;
border-radius:22px;
display:flex;
align-items:center;
justify-content:center;
font-size:72px;
}

.back{
background:#071226;
border:3px solid #f4c64b;
}

.front{
background:#fff4d0;
transform:rotateY(180deg);
color:#111;
}

@media(max-width:900px){
h1{font-size:54px}
.start-button{width:90vw;height:120px}
.start-button span{font-size:34px}
.grid{
grid-template-columns:repeat(4,20vw);
gap:10px;
}
.card{
width:20vw;
height:30vw;
}
}
